language: node_js

cache:
  directories:
    - node_modules
    - browser-test/node_modules

notifications:
  email: false

node_js:
  - '8'
  - '9'
  - '10'
  - '11'

before_install:
  - export TZ=Australia/Canberra

install:
  - npm i
  - cd browser-test && npm i && cd ..

script:
  - npm run test
  - node scripts/prepare-for-npm
  - npm run test:sauce || exit 0

deploy:
  on:
    branch: master
    tags: true
  provider: script
  skip_cleanup: true
  script: sh scripts/deploy.sh $TRAVIS_TAG
